---
import FormattedDate from "@/components/time/FormattedDate.astro";
import { PageHeader } from "@/components/app/PageHeader";
import { PageDescription } from "@/components/app/PageDescription";
import { MoveLeft } from "lucide-react";
import BaseLayout from "./BaseLayout.astro";
import Prose from "@/components/markdown/Prose.astro";

interface Props {
	title: string;
	description: string;
	published: Date;
	updated?: Date | undefined;
	image?: string | undefined;
	minutes: number;
}

const { title, description, published, updated, image, minutes } = Astro.props;
---

<BaseLayout>
	<article class="max-w-[64rem] mx-auto pt-32 pb-16">
		<!-- {
			image && (
				<div class="w-full mx-auto rounded">
					<img width={1020} height={510} src={image} alt="" />
				</div>
			)
		} -->
		<Prose class="mx-auto">
			<div class="mb-4">
				<div class="flex gap-2 justify-between items-end">
					<PageHeader>
						{title}
						<a
							href="/"
							title="Go home"
							class="absolute -left-10 lg:-left-14 top-1 lg:top-2 p-2 rounded-full text-zinc-600 dark:text-zinc-400 hover:bg-white hover:dark:bg-zinc-800 hover:text-zinc-900 dark:hover:text-zinc-100 mst"
						>
							<MoveLeft className="size-4 lg:size-6" />
						</a>
					</PageHeader>
					<div
						class="hidden md:flex lg:flex-col not-prose md:gap-2 lg:gap-0.5 md:pb-1.5 lg:pb-0 md:items-center lg:items-end text-xs text-right text-zinc-600 dark:text-zinc-400"
					>
						<FormattedDate date={published} />
						<span class="hidden md:block lg:hidden">•</span>
						<div class="truncate">{Math.round(minutes)} minutes to read</div>
					</div>
				</div>
				<PageDescription>
					{description}
				</PageDescription>
			</div>
			<hr />
			<slot />
			<hr />
			<p class="italic">
				<a href="/" class="font-garamond font-normal text-lg lg:text-xl">The Dolent Chronicle</a> is an RPG blog produced by Dante Nardo. If you liked this post,
				please consider sharing it on whatever doomed planes you reside.
			</p>
			{
				updated && (
					<p class="italic">
						This article was originally published <FormattedDate date={published} /> and later updated on <FormattedDate date={updated} />.
					</p>
				)
			}
		</Prose>
	</article>
</BaseLayout>
