---
import { FormattedDate } from "@/components/time/FormattedDate";
import { PageTitle } from "@/components/app/PageTitle";
import { PageDescription } from "@/components/app/PageDescription";
import { PageHomeButton } from "@/components/app/PageHomeButton";
import BaseLayout from "./BaseLayout.astro";
import Figure from "@/components/markdown/Figure.astro";
import Prose from "@/components/markdown/Prose.astro";
import { PageHeader } from "@/components/app/PageHeader";

interface Props {
	title: string;
	description: string;
	published: Date;
	updated?: Date | undefined;
	image?: { src: string; width: number; height: number; format: "png" | "jpg" | "jpeg" | "tiff" | "webp" | "gif" | "svg" | "avif" } | undefined;
	imageAlt?: string | undefined;
	caption?: string | undefined;
	minutes: number;
}

const { title, description, published, updated, image, imageAlt, caption, minutes } = Astro.props;
---

<BaseLayout title={title} description={description} image={image?.src}>
	<article class="max-w-[70rem] mx-auto pt-16 md:pt-32 pb-16">
		<Prose class="mx-auto">
			<PageHeader>
				<PageHomeButton />
				<PageTitle>
					{title}
				</PageTitle>
			</PageHeader>
			<PageDescription>
				{description}
			</PageDescription>
			<div class="flex not-prose gap-1 lg:gap-2 mt-2 mb-4 items-center justify-start text-xs text-zinc-600 dark:text-zinc-400">
				<FormattedDate date={published} />
				<span class="">•</span>
				<div class="truncate">{Math.round(minutes)} minutes to read</div>
			</div>
			<hr />
		</Prose>
		{image && <Figure src={image?.src} alt={imageAlt ?? ""} caption={caption} />}
		<Prose class="">
			<slot />
			<hr />
			<p class="italic">
				<a data-astro-prefetch href="/" class="font-garamond font-normal text-lg lg:text-xl">The Dolent Chronicle</a>
				is an RPG blog produced by Dante Nardo. If you liked this post, please consider sharing it on whatever doomed planes you reside.
			</p>
			{
				updated && (
					<p class="italic">
						This article was originally published <FormattedDate date={published} /> and later updated on <FormattedDate date={updated} />.
					</p>
				)
			}
		</Prose>
	</article>
</BaseLayout>
